<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
            <footer>
                <ul>
                    <li><a href="https://github.com/idvoretskyi">GitHub</a></li>
                    <li><a href="https://twitter.com/idvoretskyi">Twitter</a></li>
                    <li><a href="https://medium.com/@ihor_dvoretskyi">Medium</a></li>
                    <li><a href="https://ua.linkedin.com/in/idvoretskyi">Linkedin</a></li>
                    <li><a href="https://www.instagram.com/ihor.dvoretskyi/">Instagram</a></li>
                </ul>
            </footer>
        </body>
    </html>
